# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local

__pycache__/
*.pyc

# ===============================
# PYTHON VENV (VERY IMPORTANT)
# ===============================
venv/
backend/venv/

# ===============================
# DATASETS (DO NOT PUSH HUGE DATA)
# ===============================
backend/AI_ENGINE/speech_model/dataset_audio_speech_actors_01-24/
backend/AI_ENGINE/text_model/dataset/

# optional if any extra dataset folders
dataset/
datasets/
*.zip
*.wav

# ===============================
# SYSTEM CACHE
# ===============================
*.DS_Store
Thumbs.db

*.h5